asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1605523041333/work
certifi==2022.12.7
cycler==0.10.0
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1613732694779/work
django-crispy-forms @ file:///home/conda/feedstock_root/build_artifacts/django-crispy-forms_1613926398479/work
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1615997404817/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1610099772044/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1611858711244/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1612953006532/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
pandas==1.2.3
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1615243969088/work
psycopg2 @ file:///home/conda/feedstock_root/build_artifacts/psycopg2_1614021008788/work
pycairo==1.20.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
reportlab==3.5.66
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1616210431989/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1602142927465/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1610094708661/work
