{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="{% static 'chemo/img/favicon.ico' %}">
  <title>Quimioteca Nacional</title>
  <meta name="description" content="Site da plataforma Quimioteca Nacional">
  <meta name="keywords" content="Quimioteca Nacional">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="{% static 'chemo/aquamarine.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="{% static 'chemo/js/navbar-ontop.js' %}"></script>
  <!-- Script: Animated entrance -->
  <script src="{% static 'chemo/js/animate-in.js' %}"></script>
</head>

<body class="text-center">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  </nav>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
        aria-label="Toggle navigation" style=""> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <a class="navbar-brand" href="index" contenteditable="false"><img src="{% static 'chemo/img/logo.png' %}"
              width="60" class="rounded" style="margin-right: 10px;">Quimioteca Nacional</a>
          <li class="nav-item pt-2">
            <a class="nav-link" href="index">Home</a>
          </li>
          <li class="nav-item mx-auto pt-2">
            <a class="nav-link" href="quimiotecaDatabase">Quimioteca Database</a>
          </li>
          <li class="nav-item mx-auto pt-2">
            <a class="nav-link" href="about">Sobre</a>
          </li>
          <li class="nav-item mx-auto pt-2"><a class="nav-link" href="contactUs">Contato</a></li>
          <li class="nav-item mx-auto pt-2">
            <a class="nav-link" href="login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  
  <!-- Cover -->
  <!-- Parallax section -->
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-3">Sobre</h1>
          <p style="">A plataforma da Quimioteca Nacional conta com um website que mostra ao usuário informações
            relevantes sobre todas as moléculas armazenadas em seu banco de dados. </p>
		<h2>Implementação</h2> 
            <p> Desenvolvida com os Frameworks Django foi criada uma solução completa escrita em Python que utiliza o padrão de desenvolvimento
            model-template-view (MTV). Para a parte visual do sistema foi utilizado o Pigendo que fornece componentes de
            interface front-end para sistemas utilizando HTML, CSS e JAVASCRIPT melhorando a comunicação com o usuário
            fornecendo uma plataforma limpa e fácil de se usar.</p>
          <h2>Origens</h2> 
            
            <p>A Quimioteca Nacional foi concebida pelo pesquisador Diego Gomes dureante pós-doutorado no <i>Institut de Science et d'Ingénierie Supramoléculaires</i> 
			da <i>Université de Strasbourg</i> incentivada pelos professores Jean Marie Lehn e Jean-Pierre Sauvage. 
			O plano diretor foi concebido sob orientação do prof. Marcel Hibert da <i> Faculte de Pharmacie </i> fundador da <i>Chimiotequè Nationale du CNRS </i>
			</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="">Desenvolvedores
            <br>
            Artur Rossi -&nbsp; Formado em Engenharia de Computação pela Universidade Católica de Petrópolis, em
            Tecnologia da Informação e Comunicação pela Faculdade de Apoio ao Ensino Técnico do Rio de Janeiro e Mestre
            em Modelagem Computacional pela Universidade Federal de Juiz de Fora.
            <br>
            Diego Enry -&nbsp;
            <br>
            Thallys Nogueira -&nbsp; Bacharel em Ciências Exatas e Graduando em Engenharia Computacional
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Speakers -->
  <!-- Schedule -->
  <!-- Sponsor logos -->
  <!-- Call to action -->
  <!-- Footer -->
  <footer class="text-md-left text-center p-4 bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="my-3 col-lg-4 col-md-6">
          <h3>Quimioteca Nacional</h3>
          <p class="my-3">Universidade Federal de Juiz de Fora&nbsp;<br>Juiz de Fora - MG<br></p>
        </div>
        <div class="my-3 col-lg-4 col-md-6">
          <h3>Contato</h3>
          <form>
            <fieldset class="form-group my-3">
              <input type="email" class="form-control" id="Input Email" placeholder="Email"> </fieldset>
            <fieldset class="form-group my-3">
              <input type="message" class="form-control" id="Input Message" placeholder="Message"> </fieldset>
            <button type="submit" class="btn btn-outline-light">Enviar</button>
          </form>
        </div>
        <div class="col-lg-1"> </div>
        <div class="my-3 col-lg-3">
          <h3>Siga-nos</h3>
          <a href="https://www.facebook.com" target="blank"><i
              class="fa fa-facebook-square fa-3x m-2 text-light"></i></a>
          <a href="https://www.instagram.com" target="blank"><i class="fa fa-3x fa-instagram m-2 text-light"></i></a>
          <a href="https://twitter.com" target="blank"><i class="fa fa-3x fa-twitter m-2 text-light"></i></a>
          <a href="https://plus.google.com" target="blank"><i
              class="fa fa-3x fa-google-plus-official m-2 text-light"></i></a>
          <a href="https://pinterest.com" target="blank"><i class="fa fa-3x fa-pinterest-p m-2 text-light"></i></a>
          <a href="https://www.youtube.com" target="blank"><i class="fa fa-3x fa-youtube-play m-2 text-light"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-light">© Copyright 2019 Quimioteca Nacional - Todos Direitos Reservados. </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- JavaScript dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="{% static 'chemo/smooth-scroll.js' %}"></script>
</body>

</html>
