{% extends "chemo/base.html" %}

{% block content %}
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-3">Sobre</h1>
          <p style="">A plataforma da Quimioteca Nacional conta com um website que mostra ao usuário informações
            relevantes sobre todas as moléculas armazenadas em seu banco de dados. </p>
		<h2>Implementação</h2> 
            <p> Desenvolvida com os Frameworks Django foi criada uma solução completa escrita em Python que utiliza o padrão de desenvolvimento
            model-template-view (MTV). Para a parte visual do sistema foi utilizado o Pigendo que fornece componentes de
            interface front-end para sistemas utilizando HTML, CSS e JAVASCRIPT melhorando a comunicação com o usuário
            fornecendo uma plataforma limpa e fácil de se usar.</p>
          <h2>Origens</h2> 
            
            <p>A Quimioteca Nacional foi concebida pelo pesquisador Diego Gomes dureante pós-doutorado no <i>Institut de Science et d'Ingénierie Supramoléculaires</i> 
			da <i>Université de Strasbourg</i> incentivada pelos professores Jean Marie Lehn e Jean-Pierre Sauvage. 
			O plano diretor foi concebido sob orientação do prof. Marcel Hibert da <i> Faculte de Pharmacie </i> fundador da <i>Chimiotequè Nationale du CNRS </i>
			</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="">Desenvolvedores
            <br>
            Artur Rossi -&nbsp; Formado em Engenharia de Computação pela Universidade Católica de Petrópolis, em
            Tecnologia da Informação e Comunicação pela Faculdade de Apoio ao Ensino Técnico do Rio de Janeiro e Mestre
            em Modelagem Computacional pela Universidade Federal de Juiz de Fora.
            <br>
            Diego Enry -&nbsp;
            <br>
            Thallys Nogueira -&nbsp; Bacharel em Ciências Exatas e Graduando em Engenharia Computacional
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
